*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
}

.detailproductos {
    width: 60vw;
    margin: auto
}

.dataProducts{
    display: grid;
    grid-template-columns:  70% 30%;
    width: 20 rem;
    height: 250px;
    align-items: center;
    background-color:white;
    height: 80vh;
}

.picture{
    width: 680px;

}

.condicion {
    font-size: 14px;
    margin-top: 32px;
}
.nameproduct{
    font-size: 24px;
}
.price{
    font-size: 46px;
    margin: 32px 0px;
}

.buy{
    border-bottom: steelblue;
    margin-right: 32px;
    
}

.titledescription{
    font-size: 28px;
    padding-left: 32px;
}
.Textdescription{
    font-size: 16;
    margin: 32px 0px;
    padding-left: 32px;
}

