.breadcrumbs{
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 14px;
    color: #999999;
}
.breadcrumbs:hover{
    cursor: pointer;
}


.category {
    text-indent:3px;
    list-style-type:none;
    margin-left: 5px;

}
.category:not(:last-child)::after{
    content: " >";
}

