@font-face{
    font-family: nova;
    src: url(../public/assets/ProximaNova-Regular.ttf);
}
*{
    font-family: nova;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
}
